$red: #b5161a;
$black: #333;
$dark-grey:#666;
$light-grey:#f4f4f4;

$colore-primario:#E6E134;
$colore-secondario:#40806F;


@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');



//custom background color body - per avere il menu colorato
body{
    background:$colore-primario !important;
    background-attachment: fixed !important;
}

// menu nascosto per lp singola
.container.top-nav{
    display: none;
}

// custom header color
.top-header, .top-header .header{
    background-color:darken($colore-primario,10%) !important;
}


.btn.btn-primary, .btn.btn-secondary{
    border-radius: 50px;
    @media (min-width: 1200px){
        // padding:1.3% 4%;
    }
}

.copy-footer{
    background-color: #a99714 !important;
    border-top: 1px solid #a99714 !important;
}

/* custom css*/
.convegno-Q{   
    .circle{
        background: #40806F;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 20;
        color: #fff;
        display: inline-block;
        line-height: 40px;
        margin-right: 5px;
        text-align: center;
        width: 47px;
        padding-bottom: 7px;
        @media (max-width: 576px) {
            width: 33px;
            padding-bottom: 3px;
            line-height: 30px;
        }
    }
    .sfondo{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        max-width: 1200px;
        width: 100%;
        transition: all .5s ease-in;
    }

    .date{
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom:15px;
        transform: translate(0,-7px);
        z-index: 9;
        @media (max-width: 1200px) {
            font-size: 2.4rem;
            line-height: 2.6rem;

        }
    
        @media (max-width: 768px) {
            font-size: 2rem;
            line-height: 2rem;

        }
        
        @media (max-width: 576px) {
            font-size: 1.4rem;
            line-height: 1.4rem;

        }

    }
    .uno{
        background:$red !important;
        padding: 10px;
        color: #fff;
    }
    .due{
        background:#fff !important;
        padding: 10px;
    }
    .container-Q{
        position: relative;
        text-align: left;
        max-width: 600px;
        margin: 0 auto;
       
        .centered{
             @media (max-width: 576px){
                position: relative;
                transform: translatex(20px);
            }
            h3{
                // color:$colore-secondario;
            }
            img{
                transform: translate(-20px,0);
                // margin-top: 25px;
            }
        }
    }
    .agenda{
        transform: rotate(-2deg)translate(-20px,0);
        text-transform: uppercase;
        font-weight: 800;
        margin: 25px 0;
        z-index: 10;
        position: relative;
        mark{
            padding: 10px;
            background: $colore-secondario;
            color:#fff;
        }  
    }

    .hideonmid{
        @media (max-width: 992px) {
            display: none;
        }
    }
    .visonmid{
        @media (min-width: 991.98px) {
            display: none;
        }
    }
    .blocco-testo{
        padding: 50px 50px 55px 50px;
        background-color: rgba(255, 255, 255, 1);
        transform: skew(-5deg, -3deg) rotate(7deg);

        .contenuto{
            transform: skew(5deg, 3deg) rotate(-7deg);
        }
    }
    .promo{
        margin-top: 4rem;
        padding: 0px 20px 35px 20px;
        background-color: rgba(255, 255, 255, 1);
        // border-radius: 50px;
        transform: skew(5deg, 3deg);
        .contenuto{
            transform: skew(-5deg, -3deg);
        }
    }
    .box_iscriviti::before, .box_iscriviti::after{
        content:none !important;
    }
    .limit{
        font-size:1rem;
        margin-top:1rem;
        @media (max-width: 768px) {
            font-size: .75rem;
        }
    }
}

.link:hover {
    cursor: pointer !important;
}
.no-mobile{
    @media (max-width: 575.9px){
       display: none;
    }
}
.no-tab{
    @media (max-width: 767.9px){
       display: none !important;
    }
}
.solo-mobile{
    @media (min-width: 576px){
        display: none;
    }
}
.solo-tab-mobile{
    @media (min-width: 767.9px){
        display: none;
    }
}
.event-sezioni .sezione-AGGIORNAMI{
    background-color: transparent !important;
}
.p-b{
    padding-bottom: 2rem;
    @media (max-width: 576px){
        padding-bottom: 1rem;
     }
}
.p-t{
    padding-top: 2rem;
    @media (max-width: 576px){
        padding-top: 1rem;
     }
}
.m-b{
    margin-bottom: 2rem;
    @media (max-width: 576px){
        margin-bottom: 1rem;
     }
}
.m-t{
    margin-top: 2rem;
    @media (max-width: 576px){
        margin-top: 1rem;
     }
}
