#indice .card {
    margin: 15px 0;
    transition: all 0.5s ease-in-out;
    border-radius: 15px;
    border: 0;
    /* grafica 1
    background-color: #f4f4f4;*/

  }

  #indice .card-body {
    border-bottom: 2px solid #f4f4f4;
    border-left: 2px solid #f4f4f4;
    border-right: 2px solid #f4f4f4;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  /* stile per le prime due card rilevanti */               /* <--- classe per aggiungere 2 card orizzontali all'inizio */
  #indice .card.rilevant {
    flex-direction: row;
    width: 100%;
  }

  #indice .card.rilevant .card-body {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-top: 2px solid #f4f4f4;
    border-left: 0;
  }

  #indice .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: calc(50% - 15px);
    min-width: calc(50% - 15px);
  }

  #indice .card .fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    max-height: 200px;
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 15px;
  }

  #indice a {
    text-transform: initial;
    color: #333;
    font-size: 16px;
    text-decoration: none !important;
    display: flex;
    width: 100%;
  }

  #indice a:hover {
    text-decoration: none !important;
  }

  #indice .card img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  #indice .card a+a {
    color: #666;
  }

  #indice .card a+a:hover {
    color: rgb(65, 65, 65);
  }

  #indice .card h5 {
    font-weight: bold;
  }

  #indice .card-link+.card-link {
    margin-left: 0.55rem;
  }

  #indice .card-title {
    margin-bottom: 0.35rem;
  }

  @media (max-width: 576px) {
    #indice .card .card-text {
      display: none;
    }

    #indice .menu-lp .col-6.col-md-3 {
      padding-left: 5px;
      padding-right: 5px;
    }

    #indice .menu-lp {
      padding-left: 10px;
      padding-right: 10px;
    }

    #indice h5 {
      font-size: 17.5px;
    }
  }

  @media (max-width: 768px) {
    #indice .card a {
      font-size: 14px;
    }

    #indice h5.card-title a {
      font-size: 18px !important;
    }

    #indice .fill {
      max-width: calc(50% - 10px);
      min-width: calc(50% - 10px);
    }
  }

  @media (max-width: 992px) {
    #indice .card a+a {
      display: table-cell;
    }

    #indice .card-link+.card-link {
      margin-left: 1rem;
    }
  }

  @media (min-width: 991.8px) {
    #indice a:hover {
      cursor: pointer;
    }

    #indice a:hover .card {
      transform: translateY(-8px);
      box-shadow: 8px 8px 25px #e6e5e8;
    }

    #indice .card:hover p+p span {
      margin-left: 0.6rem;
      transform: translate(0.2rem, 0);
    }
  }

  @media (max-width: 1200px) {
    #indice .menu-lp .col-6.col-md-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media (max-width: 1400px) {
    #indice .service-page-limiter {
      margin-left: 0;
      margin-right: 0;
    }
  }

  #indice h5.card-title a {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-family: freightsans_prosemibold;
    font-size: 22px;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: lining-nums;
    font-variant-position: normal;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 21.6px;
    margin-bottom: 5.6px;
    margin-top: 0px;
    overflow-wrap: break-word;
    text-align: left;
    -moz-osx-font-smoothing: grayscale;
  }

  #indice h5.card-title a:hover {
    color: #333;
    text-decoration: none !important;
  }

  #indice .card p+p {
    color: #0071bc;
  }

  #indice .card p+p span {
    margin-left: 0.2rem;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 0.9rem;
    display: inline-block;
  }