$red: #b5161a;
$black: #333;
$dark-grey: #666;
$light-grey: #f4f4f4;

$colore-primario: #7dc8c2;
$colore-secondario: #cbe6dc;
$colore-rosso: #cc6666;
$colore-giallo: #ccae66;
$colore-viola: #7b8ac7;

@font-face {
  font-family: "FeltWoman";
  src: url("https://erickson-learn-resources.s3.amazonaws.com/production/event/sono_adulto_21/font/Felt%20Tip%20Woman.ttf"); /* per IE 5-8 */
  src: local("☺"),
    /* direttiva local per IE */
      url("https://erickson-learn-resources.s3.amazonaws.com/production/event/sono_adulto_21/font/Felt-Tip-Woman.woff")
      format("woff"),
    /* Firefox 3.6+, Chrome 5.0+, IE 9.0+ */
      url("https://erickson-learn-resources.s3.amazonaws.com/production/event/sono_adulto_21/font/Felt%20Tip%20Woman.ttf")
      format("truetype"); /* Opera, Safari */
}
body{
    background-color:darken(#fff,1%) !important;
}
body::after {
  content: "";
  background: url("https://erickson-learn-resources.s3.amazonaws.com/production/event/sono_adulto_21/img/background.svg")  !important;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: 1650px !important; /* cambia dimensione sfondo */
  @media (max-width: 991.9px) {
    background-size: 1000px !important; /* cambia dimensione sfondo */
  }

  @media (max-width: 576px) {
    background-size: 400px !important; /* cambia dimensione sfondo */
  }
}
.convegno-sonoadulto {

  /*colori */
  .primario{
    color:$colore-primario;
  }
  .secondario{
    color:$colore-secondario;
  }
  .rosso{
    color:$colore-rosso;
  }
  .giallo{
    color:$colore-giallo;
  }
  .viola{
    color:$colore-viola;
  }

  .elenco{
    margin-top: .8rem;
    margin-bottom: .8rem;
    & li{
      display: inline-block !important;
      margin-right: 1rem;
      transition: all .5s ease-in-out;
      &:hover{
        -webkit-text-stroke: 1px #7dc8c2;
        color: #7dc8c2;
      }
    }
  }

  h2,
  h4 {
    text-transform: uppercase;
  }
  .intestazione h2 {
    font-weight: 500;
  }
  h3 {
    font-weight: 700;
    &.intro {
      font-family: "freightdisp", serif;
      text-transform: none;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  .row.row-equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }
  .head{
    margin:20px auto;
    background: url("https://erickson-learn-resources.s3.amazonaws.com/production/event/sono_adulto_21/img/background-2.svg") $colore-secondario !important;
    background-size: 400px !important; /* cambia dimensione sfondo */
    .row{
      align-items: center;
      display: flex;
      @media (max-width: 768px) {
        align-items:flex-start;
      }
    }
    h1{
      font-size:5rem;
      font-weight: 800;
      line-height: 95%;
      @media (max-width: 1200px) {
        font-size: 4rem;
      }
      @media (max-width: 768px) {
          font-size: 3rem;
      }
      @media (max-width: 576px) {
          font-size: 2.5rem;
      }
    }
    h2{
      font-size:2.6rem;
      font-weight: 400;
      @media (max-width: 1200px) {
        font-size: 2.4rem;
      }
      @media (max-width: 768px) {
          font-size: 2rem;
      }
      @media (max-width: 576px) {
          font-size: 1.3rem;
      }
    }
    h3,h4{
      @media (max-width: 576px) {
          font-size: 1rem;
      }
    }


  }
  .box  {
    padding: 1rem;
    @media (max-width: 768px) {
      padding: 1rem .5rem;
    }
    & .cardz{
      height: 100%;
      background-color: white;
      border-radius: 1.5rem;
      padding: 1.5rem;
      // margin: 1rem .5rem;
      transition: all .5s;
      box-shadow: 0 2px 5px rgba(154, 160, 185, 0.05), 0 4px 15px rgba(166, 173, 201, 0.1);

      @media (max-width: 768px) {
        padding: 1rem;
      }
    }
    &.head {
      background-color: $colore-secondario;
      border-radius: 1.5rem;
      padding: 1.5rem;
      transition: all .5s ease-in-out;
      box-shadow: 0 2px 5px rgba(154, 160, 185, 0.05), 0 4px 15px rgba(166, 173, 201, 0.1);

      @media (max-width: 768px) {
        padding: 1rem;
      }
      &:hover{
        box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(166, 173, 201, 0.2);
        transform: scale(1.02);
      }
    }
    
    &:hover .cardz{
        box-shadow: 0 5px 10pxs rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(166, 173, 201, 0.2);
        transform: scale(1.02);
    }
    
  }
  .struttura{
    .box h3{
      font-family: "FeltWoman";
      text-transform: uppercase;
    }
    .num{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 16rem;
      font-weight: 900;
      opacity: 0.05;
      @media (max-width: 1200px) {
        font-size: 12rem;
      }
      @media (max-width: 768px) {
          font-size: 10rem;
      }
      @media (max-width: 576px) {
          font-size: 8rem;
      }
    }
    .plen .num{
      // animation: float 6s ease-in-out infinite;
      transform: translate(-50%, -54%)rotate(-10deg);
    }
    .Q-time {
      transform: translate(0,20px) !important;
      & .num{
        transform: translate(-50%, -54%)rotate(17deg);
      }
    }
    .simp .num{
      transform: translate(-50%, -54%)rotate(-3deg);
    }
    .works{
      transform: translate(0,20px) !important;

      & .num{
        transform: translate(-50%, -54%)rotate(26deg);
      }
    }
  }
  // @keyframes float {
  //   0% {
  //     transform: translate(-50%, -54%);
  //   }
  //   50% {
  //     transform: translate(-55%, -60%);
  //   }
  //   100% {
  //     transform: translate(-50%, -54%)rotate(-10deg);
  //   }
  // }
  
  
  img.punto-esclamativo {
    max-height: 400px;
   
  }
  .temi{
    .item{
      /*flex: 0 1 calc(20% - 8px);  <-- adjusting for margin */
      flex: 0 1 calc(30%); /* <-- adjusting for margin */
      @media (max-width: 768px) {
        flex: 0 1 calc(50%);
      }

    }
    img.chiave{
      max-height: 100px;
      margin: 0 auto;
      margin-bottom: 1.2rem;
    }
    .box h3{
      font-family: "FeltWoman";
    }
  }

  .relatori{
    @media (min-width: 991.9px) {
      .col-md-12{
        padding:0 20%;
      }
    }
 
    .item{
      flex: 0 1 calc(20%); /* <-- adjusting for margin */
      @media (max-width: 768px) {
        flex: 0 1 calc(50%);
      }
    }
    .item .cardz{
      transition: all .5s ease-in-out;
      background: url("https://erickson-learn-resources.s3.amazonaws.com/production/event/sono_adulto_21/img/background-2.svg") #fff !important;
      background-size: 400px !important; /* cambia dimensione sfondo */
      &:hover{
        background-color: $colore-primario !important;
        color:#fff !important;
        & h3{
          color:#fff !important;
        }
      }
    }
    .item.box.text-center:nth-child(4n+2) .cardz h3{
      color:$colore-giallo;
    }
    .item.box.text-center:nth-child(4n+3) .cardz h3{
     color:$colore-viola;
    }
    .item.box.text-center:nth-child(4n+4) .cardz h3{
      color:$colore-primario ;
    }
    .item.box.text-center:nth-child(4n+1) .cardz h3{
      color:$colore-rosso;
    }
    .box h3{
      font-family: "FeltWoman";
      transition: all .5s ease-in-out;

    }
  }

  p.small{
    /* paragrafi */
      font-size: 1.25rem;
      line-height: initial;
      @media (max-width: 1200px) {
          font-size: 1.1rem;
      }

      @media (max-width: 768px) {
          font-size: 1rem;
      }

      @media (max-width: 576px) {
          font-size: .8rem;
      }
  }
  .p-b {
    padding-bottom: 2rem;
    @media (max-width: 576px) {
      padding-bottom: 1rem;
    }
  }
  .p-t {
    padding-top: 2rem;
    @media (max-width: 576px) {
      padding-top: 1rem;
    }
  }
  .btn.btn-primary, .btn.btn-secondary{
    border-radius: 50px;
    @media (min-width: 1200px){
        // padding:1.3% 4%;
    }
}
  .box_iscriviti::before, .box_iscriviti::after{
      content:none !important;
  }
}

.link:hover {
  cursor: pointer !important;
}
.no-mobile {
  @media (max-width: 576px) {
    display: none;
  }
}
.solo-mobile {
  @media (min-width: 576px) {
    display: none;
  }
}
.event-sezioni .sezione-AGGIORNAMI {
  background-color: transparent !important;
}
