$red: #b5161a;
$black: #333;
$dark-grey: #666;
$light-grey: #f4f4f4;

$colore-primario: #6b9fbe;
$colore-secondario: #f0e96d;
$colore-rosa: #c66f9e;
$colore-viola: #7d3f8a;
$colore-verde: #447350;

body {
  background-color: darken(#fff, 1%) !important;
}
body::after {
  content: "";
  background: url("https://erickson-learn-resources.s3.amazonaws.com/production/event/Scuola-creativa-21/Img/Background/Background_v02.jpg") !important;
  opacity: 11;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -2;

}
.top-header, .container.top-nav{
  z-index: 99;
  position: relative;
}
.convegno-scuola-creativa {
  .container{
    margin: 2rem auto;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
    // padding-left: 10px;
    // padding-right: 10px;
  }

  /*colori */
  .primario {
    color: $colore-primario;
    &.scuro{
      color:darken($colore-primario,20%) !important;
    }
  }
  .secondario {
    color: $colore-secondario;
  }
  .rosa {
    color: $colore-rosa;
  }
  .viola {
    color: $colore-viola;
  }
  .verde {
    color: $colore-verde;
  }
  a {
    color:#333;
    .iscriviti-box{
      background-color: #f4f4f4c9;
      background-size: 15px 15px;
      background-image: repeating-linear-gradient(-45deg, #c66f9d15 0, #c66f9e15 1.5px, #f4f4f4cc 0, #f4f4f4cc 50%);
      border-radius: 50px;
      box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
      transform: skew(5deg, 3deg);
      max-width: 1140px;
      transition: all .2s ease-in;
      
      h2{
        color:$colore-primario;
      }
  
      & div{
        transform: skew(-5deg, -3deg);
        padding:2rem;
      }
      &:hover{
        box-shadow: 0 5px 10px #bebebe;
        transform: translateY(10px) skew(5deg, 3deg);
        .arrow{
          transform:translateX(20px);
        }
      }
      .arrow{
        transform:translateX(-10px);
        transition: all .3s ease-in;
      }

    }
  }
  .head{
    @media (max-width: 1400px) {
      margin-top: -.2rem;
      margin-bottom: -1rem;
    }
  }
  .citazione{
    background-color: #f4f4f4c9;
    background-size: 15px 15px;
    background-image: repeating-linear-gradient(45deg, #f0e96dab 0, #f0e96dab 1.5px, #f4f4f4cc 0, #f4f4f4cc 50%);
    border-radius: 50px;
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    transform: skew(5deg, 3deg);
    max-width: 1140px;
    width: 80%;
    transition: all .5s ease-in;
    font-family: freightdisp,serif;
    font-weight: 300;
    @media (max-width: 576px) {
      width: 100%;
    }
    
    & div{
      transform: skew(-5deg, -3deg)translateY(10px);
      padding:2rem;
    }
    &:hover{
        // transform: scale(1.01)skew(5deg, 3deg);
    }
  }
  .bus{
    max-width: 200px;
    width: 13%;
    top: 0;
    right: 0;
    position: absolute;
  }

  // -------  evidenziatore 
  .simple-highlight{
    background-color:$colore-secondario;
    padding:0.1em 0.2em;
  }
  .sketch-highlight{
    position:relative;
  }
  .sketch-highlight:before{
    content: "";
    z-index: 0;
    left: 0em;
    top: 0em;
    border-width: 2px;
    border-style: solid;
    border-color: $colore-verde;
        border-right-color:$colore-verde;
    position: absolute;
    border-right-color: transparent;
    width: 100%;
    height: 1.4em;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    opacity: 0.6;
    border-radius: 0.25em;
  }
  .circle-sketch-highlight{
    position:relative;
  }
  
  .circle-sketch-highlight:before{
    content: "";
    z-index: -1;
    left: 0;
    top: -0.1em;
    border-width: 2px;
    border-style: solid;
    border-color: $colore-viola;
    border-right-color: $colore-viola;
    position: absolute;
    border-right-color: transparent;
    width: 100%;
    height: 1.5em;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    opacity: 0.3;
    border-radius: 50%;
    padding: 0.1em 0.25em;
  }
  
  .circle-sketch-highlight:after{
    content:"";
    z-index:-1;
    left:0em;
    top:0.1em;
    padding:0.1em 0.25em;
    border-width:2px;
    border-style:solid;
    border-color:$colore-viola;
    border-left-color:transparent;
    border-top-color:transparent;
    position:absolute;
    width:100%;
    height:1.5em;
    transform:rotate(-1deg);
    opacity:0.3;
    border-radius:50%;
  }
  
  

  // -------- immagini
  .nuvole {
    position: absolute;
    height: 100vh;
    max-width: 1140px;
    top: -95px;
    left: 0;
    right: 0;
    margin: 0 auto;

    & img {
      position: absolute;
      display: flex;
      max-width: 180px;
      width:20%;
      
      &:nth-child(1){
        right: 20%;
        @media (min-width: 767.98px) {
          top:-50px;
          right: 25%;
        }
        @media (min-width: 991.98px) {
          top:-40px;
        }
        @media (min-width: 1199.98px) {
          top:-30px;
          right: 15%;
        }

      }
      &:nth-child(2){
        animation-delay: .5s;
        right: 0%;
        @media (min-width: 767.98px) {
          top:-100px;
        }
      }
    }
  }
  .img-fixed {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;

    & img {
      position: absolute;
      display: flex;
      max-width: 250px;


      &:nth-child(1){
        top: 29%;
        left: 53%;
        mix-blend-mode: multiply;
      }
      &:nth-child(2){
        animation-delay: .6s;
        top: 65%;
        left: 35%;
        opacity: 35%;
      }
      &:nth-child(3){
        top: 86%;
        left: 80%;
      }
      &:nth-child(4){
        animation-delay: .3s;
        top: 25%;
        left: 12%;
        width:20%;
        opacity: .5;
      }
    }

  }

  .temi {
    list-style:none;
    padding-left: 8rem;
    @media (max-width: 576px) {
      padding-left: 1.8rem;
    }
    li{
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
        &:before{
          background-image: url("https://erickson-learn-resources.s3.amazonaws.com/production/event/Scuola-creativa-21/Img/Grafiche/Freccia.png");
          content: ' ';
          width: 100px;
          height: 100px;
          position: absolute;
          background-size: contain;
          transform: translateY(10px);
          background-repeat: no-repeat;
          left: 0.8%;
          @media (max-width: 576px) {
            left: -25%;
            transform: translateY(3px);
        }
      }
      &:hover {
        // color:$colore-rosa;
        // text-shadow:
        // -.5px -.5px 0 $colore-rosa,
        // .5px -.5px 0 $colore-rosa,
        // -.5px .5px 0 $colore-rosa,
        // .5px .5px 0 $colore-rosa;
        // letter-spacing: 0.025em;
        text-shadow: 0 0 .75px #333, 0 0 .75px #333;
      }
    }
  }

  .coord-scientifico{
    max-width: 380px;
    // background-color: aquamarine;
    margin: 0 auto;
    h5,p{
      transform: skewY(-8deg);
      transition: all .2s ease-in;
      margin-top: 10px;
    }
    @media (min-width: 767.98px) {
      &:hover{
        h5,p{
          transform: skewY(0deg);
          letter-spacing: 0.05em;
          }
        }
    }
    @media (max-width: 576px) {
      transform: scale(.8);
    }
   
  }

  .relatori{
    img{
      max-width: 200px;
      width: 100%;
      @media (max-width: 576px) {
        width: 75%;
      }
    }
  }


  .float {
      animation-name: Floating;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
  }
  @keyframes Floating{
      from {transform:translate(0, 0px);}
      65% {transform:translate(0, 20px);}
      to {transform: translate(0, -0px);}    
  }

  


  .p-b {
    padding-bottom: 2rem;
    @media (max-width: 576px) {
      padding-bottom: 1rem;
    }
  }
  .p-t {
    padding-top: 2rem;
    @media (max-width: 576px) {
      padding-top: 1rem;
    }
  }
}


.btn.btn-primary,
.btn.btn-secondary {
  border-radius: 50px;
  @media (min-width: 1200px) {
    // padding:1.3% 4%;
  }
}

