body {
  background-color: #fcfcfc !important;
}

body::after {
  content: "";
  background: url("https://erickson-learn-resources.s3.amazonaws.com/production/event/Scuola-creativa-21/Img/Background/Background_v02.jpg") !important;
  opacity: 11;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -2;
}

.top-header, .container.top-nav {
  z-index: 99;
  position: relative;
}

.convegno-scuola-creativa {
  /*colori */
}
.convegno-scuola-creativa .container {
  margin: 2rem auto;
}
.convegno-scuola-creativa .row {
  margin-left: 0;
  margin-right: 0;
}
.convegno-scuola-creativa .primario {
  color: #6b9fbe;
}
.convegno-scuola-creativa .primario.scuro {
  color: #3c6b87 !important;
}
.convegno-scuola-creativa .secondario {
  color: #f0e96d;
}
.convegno-scuola-creativa .rosa {
  color: #c66f9e;
}
.convegno-scuola-creativa .viola {
  color: #7d3f8a;
}
.convegno-scuola-creativa .verde {
  color: #447350;
}
.convegno-scuola-creativa a {
  color: #333;
}
.convegno-scuola-creativa a .iscriviti-box {
  background-color: rgba(244, 244, 244, 0.7882352941);
  background-size: 15px 15px;
  background-image: repeating-linear-gradient(-45deg, rgba(198, 111, 157, 0.0823529412) 0, rgba(198, 111, 158, 0.0823529412) 1.5px, rgba(244, 244, 244, 0.8) 0, rgba(244, 244, 244, 0.8) 50%);
  border-radius: 50px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  transform: skew(5deg, 3deg);
  max-width: 1140px;
  transition: all 0.2s ease-in;
}
.convegno-scuola-creativa a .iscriviti-box h2 {
  color: #6b9fbe;
}
.convegno-scuola-creativa a .iscriviti-box div {
  transform: skew(-5deg, -3deg);
  padding: 2rem;
}
.convegno-scuola-creativa a .iscriviti-box:hover {
  box-shadow: 0 5px 10px #bebebe;
  transform: translateY(10px) skew(5deg, 3deg);
}
.convegno-scuola-creativa a .iscriviti-box:hover .arrow {
  transform: translateX(20px);
}
.convegno-scuola-creativa a .iscriviti-box .arrow {
  transform: translateX(-10px);
  transition: all 0.3s ease-in;
}
@media (max-width: 1400px) {
  .convegno-scuola-creativa .head {
    margin-top: -0.2rem;
    margin-bottom: -1rem;
  }
}
.convegno-scuola-creativa .citazione {
  background-color: rgba(244, 244, 244, 0.7882352941);
  background-size: 15px 15px;
  background-image: repeating-linear-gradient(45deg, rgba(240, 233, 109, 0.6705882353) 0, rgba(240, 233, 109, 0.6705882353) 1.5px, rgba(244, 244, 244, 0.8) 0, rgba(244, 244, 244, 0.8) 50%);
  border-radius: 50px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  transform: skew(5deg, 3deg);
  max-width: 1140px;
  width: 80%;
  transition: all 0.5s ease-in;
  font-family: freightdisp, serif;
  font-weight: 300;
}
@media (max-width: 576px) {
  .convegno-scuola-creativa .citazione {
    width: 100%;
  }
}
.convegno-scuola-creativa .citazione div {
  transform: skew(-5deg, -3deg) translateY(10px);
  padding: 2rem;
}
.convegno-scuola-creativa .bus {
  max-width: 200px;
  width: 13%;
  top: 0;
  right: 0;
  position: absolute;
}
.convegno-scuola-creativa .simple-highlight {
  background-color: #f0e96d;
  padding: 0.1em 0.2em;
}
.convegno-scuola-creativa .sketch-highlight {
  position: relative;
}
.convegno-scuola-creativa .sketch-highlight:before {
  content: "";
  z-index: 0;
  left: 0em;
  top: 0em;
  border-width: 2px;
  border-style: solid;
  border-color: #447350;
  border-right-color: #447350;
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1.4em;
  transform: rotate(2deg);
  opacity: 0.6;
  border-radius: 0.25em;
}
.convegno-scuola-creativa .circle-sketch-highlight {
  position: relative;
}
.convegno-scuola-creativa .circle-sketch-highlight:before {
  content: "";
  z-index: -1;
  left: 0;
  top: -0.1em;
  border-width: 2px;
  border-style: solid;
  border-color: #7d3f8a;
  border-right-color: #7d3f8a;
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1.5em;
  transform: rotate(2deg);
  opacity: 0.3;
  border-radius: 50%;
  padding: 0.1em 0.25em;
}
.convegno-scuola-creativa .circle-sketch-highlight:after {
  content: "";
  z-index: -1;
  left: 0em;
  top: 0.1em;
  padding: 0.1em 0.25em;
  border-width: 2px;
  border-style: solid;
  border-color: #7d3f8a;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 1.5em;
  transform: rotate(-1deg);
  opacity: 0.3;
  border-radius: 50%;
}
.convegno-scuola-creativa .nuvole {
  position: absolute;
  height: 100vh;
  max-width: 1140px;
  top: -95px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.convegno-scuola-creativa .nuvole img {
  position: absolute;
  display: flex;
  max-width: 180px;
  width: 20%;
}
.convegno-scuola-creativa .nuvole img:nth-child(1) {
  right: 20%;
}
@media (min-width: 767.98px) {
  .convegno-scuola-creativa .nuvole img:nth-child(1) {
    top: -50px;
    right: 25%;
  }
}
@media (min-width: 991.98px) {
  .convegno-scuola-creativa .nuvole img:nth-child(1) {
    top: -40px;
  }
}
@media (min-width: 1199.98px) {
  .convegno-scuola-creativa .nuvole img:nth-child(1) {
    top: -30px;
    right: 15%;
  }
}
.convegno-scuola-creativa .nuvole img:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  right: 0%;
}
@media (min-width: 767.98px) {
  .convegno-scuola-creativa .nuvole img:nth-child(2) {
    top: -100px;
  }
}
.convegno-scuola-creativa .img-fixed {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}
.convegno-scuola-creativa .img-fixed img {
  position: absolute;
  display: flex;
  max-width: 250px;
}
.convegno-scuola-creativa .img-fixed img:nth-child(1) {
  top: 29%;
  left: 53%;
  mix-blend-mode: multiply;
}
.convegno-scuola-creativa .img-fixed img:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  top: 65%;
  left: 35%;
  opacity: 35%;
}
.convegno-scuola-creativa .img-fixed img:nth-child(3) {
  top: 86%;
  left: 80%;
}
.convegno-scuola-creativa .img-fixed img:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  top: 25%;
  left: 12%;
  width: 20%;
  opacity: 0.5;
}
.convegno-scuola-creativa .temi {
  list-style: none;
  padding-left: 8rem;
}
@media (max-width: 576px) {
  .convegno-scuola-creativa .temi {
    padding-left: 1.8rem;
  }
}
.convegno-scuola-creativa .temi li {
  transition: all 0.5s;
}
.convegno-scuola-creativa .temi li:before {
  background-image: url("https://erickson-learn-resources.s3.amazonaws.com/production/event/Scuola-creativa-21/Img/Grafiche/Freccia.png");
  content: " ";
  width: 100px;
  height: 100px;
  position: absolute;
  background-size: contain;
  transform: translateY(10px);
  background-repeat: no-repeat;
  left: 0.8%;
}
@media (max-width: 576px) {
  .convegno-scuola-creativa .temi li:before {
    left: -25%;
    transform: translateY(3px);
  }
}
.convegno-scuola-creativa .temi li:hover {
  text-shadow: 0 0 0.75px #333, 0 0 0.75px #333;
}
.convegno-scuola-creativa .coord-scientifico {
  max-width: 380px;
  margin: 0 auto;
}
.convegno-scuola-creativa .coord-scientifico h5, .convegno-scuola-creativa .coord-scientifico p {
  transform: skewY(-8deg);
  transition: all 0.2s ease-in;
  margin-top: 10px;
}
@media (min-width: 767.98px) {
  .convegno-scuola-creativa .coord-scientifico:hover h5, .convegno-scuola-creativa .coord-scientifico:hover p {
    transform: skewY(0deg);
    letter-spacing: 0.05em;
  }
}
@media (max-width: 576px) {
  .convegno-scuola-creativa .coord-scientifico {
    transform: scale(0.8);
  }
}
.convegno-scuola-creativa .relatori img {
  max-width: 200px;
  width: 100%;
}
@media (max-width: 576px) {
  .convegno-scuola-creativa .relatori img {
    width: 75%;
  }
}
.convegno-scuola-creativa .float {
  -webkit-animation-name: Floating;
          animation-name: Floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes Floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 20px);
  }
  to {
    transform: translate(0, 0px);
  }
}
@keyframes Floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 20px);
  }
  to {
    transform: translate(0, 0px);
  }
}
.convegno-scuola-creativa .p-b {
  padding-bottom: 2rem;
}
@media (max-width: 576px) {
  .convegno-scuola-creativa .p-b {
    padding-bottom: 1rem;
  }
}
.convegno-scuola-creativa .p-t {
  padding-top: 2rem;
}
@media (max-width: 576px) {
  .convegno-scuola-creativa .p-t {
    padding-top: 1rem;
  }
}

.btn.btn-primary,
.btn.btn-secondary {
  border-radius: 50px;
}/*# sourceMappingURL=stile-custom_convegno.css.map */